body {
    font-family: Arial, sans-serif;
    background-color: hsl(345, 22%, 96%);
    text-align: center;
    margin-top: 100px;
}

.container {
    background: rgb(255, 255, 255);
    padding: 40px;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

button {
    padding: 10px 20px;
    background-color: #40d700;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00a68a;
}
